*{box-sizing:border-box;}
body{
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.home-wrapper{
  background: url('../images/bg_2.jpg');
  color: white;
}

header nav{
float: right;
margin: 10px;

}
header nav a{
color: white;
text-decoration-: none;
margin-left: 10px;
padding: 10px 15px;

}

header .logo{
  font-size: 22px;
  }

header nav a.active{
  background: #fed136;
  border-radius: 3px;
}

#home {
text-align:center;
padding: 200px 0 150px;
}

#home  h1{
  font-size: 68px;
  font-weight: normal;
  margin-bottom: 40px
}

#home  p{
font-size: 20px;
margin-top: 40px;
}
.container{
  width: 992px;
  margin-left: auto;
  margin-right: auto;
}

#home  .social{
margin-top: 80px;
}

#home  .social a{
  background: black;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
#servicios h2{
  text-align:center;
  margin: 50px;
}

#servicios .box{
  display: inline-block;
  text-align:center;
  padding: 10px;
  width: 33%;
}
#portafolio h2{
  font-size: 32px;
 margin-bottom: 80px;
 text-align:center;

}
#portafolio .box{
  display: inline-block;
  text-align:center;
  margin: 10px;
  width: 30%;
  background-color: white ;
}
#portafolio .box img{
  width: 100%;
}
