hgroup{
	background: green;
	font-size: 16px;
	text-align: center;/**/
}
	
	/*llamandolo por clase*/
	h1.titulo-gray{
	color: gray
}  
/*llamandolo por medio de un identificador 
#titulo-gray{
	color: gray
}
*/
div.encabezado{
	background: pink;
	color: green;/*color del texto */
	text-align: center;/**/
	padding:15px ;/* marco*/
}

section.estudiantes{
  background: gray;
	color: white;/*color del texto */
	text-align: center;/**/
	padding:10px ;/* marco*/
}

section.estudiantes ul {
	list-style: none;
}

section.estudiantes{
font-size: 20px;
	}

footer {
	background: black;
	color: white;
	text-align: center;/**/
}

.header div{
	display: inline-block;	

}

.header{
	text-align: center;
}